# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/stream/target/
/MyMap/target/
/LoL/target/
/lambda/target/
/AbstractFactory/target/

